/* Applies to the whole page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, html {
  height: 100%;
}

/* Body's background colour */
body {
  background-color: #d9dcd6;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto, 6);
  grid-template-areas:
      "logo"
      "Project-One"
      "Project-One"
      "Project-Two"
      "Project-Three"
      "footer"; 
}

/* Navigation links' position, font and size */
#navigation {
  grid-area: navigation;
  display: inline;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

/* Take out navigation's unordered list's markings */
#navigation ul, aside ul {
  list-style-type: none;
}

/* Display list inline */
#navigation ul li {
  display: inline-block;
  margin-left: 10%;
}


/* Remove navigation's underlines */
a {
  color: #ffffff;
  text-decoration: none;
}

aside {
  grid-area: sidebar;
  background-color: #007FFF;
}

aside ul li {
  margin-left: 10%;
  line-height: 100px;
}

header {
  background-color: #dbcb81;
}
#logo{
  grid-area: logo;
}

#hero {
  grid-area: hero;
  max-height: 100%;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/15518074_5594016.jpg");
  background-size: cover;
  background-position: center;
}

#hero figcaption {
  width: 40%;
  position: relative;
  top: 150px;
  left: 700px;
  text-align: right;
  font-size: 22px;
  font-style: italic;
  line-height: 1.5;
  background: #000000;
  color: #ffffff;
  padding-right: 20px;
}

#Project-One figcaption, #Project-Two figcaption, #Project-Three figcaption {
  width: 150px;
  position: relative;
  bottom: 100px;
  left: 1px;
  text-align: right;
  font-size: 10px;
  font-style: italic;
  background: #000000;
  color: #ffffff;
  padding-right: 20px;
}

#About-Me {
  grid-area: About-Me;
  background-color: #74c235;
}

#Project-One {
  grid-area: Project-One;
  background-color: #b1d891;
}



#Project-Two {
  grid-area: Project-Two;
  background-color: #ad6a6a;
}

#Project-Three {
  grid-area: Project-Three;
  background-color: #c66dd2;
}

#Project-One, #Project-Two, #Project-Three {
padding: 10px;
}

#Project-One img {
  max-height: 470px;
  width: 100%;
  object-fit: cover;
}

#Project-Two img, #Project-Three img, #logo img {
  max-height: 225px;
  width: 100%;
  object-fit: cover;
}


footer {
  grid-area: footer;
  background-color: #000000;
}

@media only screen and (min-width: 768px) {

  body {
      margin: 0;
      display: grid;
      grid-template-columns: auto 30% 30% 30%;
      grid-template-rows: 5% 20% 10% 20% 20% 20% auto;
      grid-template-areas:
          "logo navigation navigation navigation"
          "hero hero hero hero"
          "sidebar About-Me  About-Me  About-Me"
          "sidebar Project-One  Project-One  Project-One"
          "sidebar Project-One  Project-One  Project-One"
          "sidebar Project-Two   Project-Two   Project-Three"
          "footer footer footer footer";
  }

}