/* Applies to the whole page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, html {
  height: 100%;
}

/* Body's background colour */
body {
  background-color: #d9dcd6;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto, 6);
  grid-template-areas:
      "logo"
      "sect1"
      "sect1"
      "sect2"
      "sect3"
      "footer"; 
}

aside {
  grid-area: sidebar;
  background-color: #007FFF;
}

header {
  background-color: #91C8FF;
}
#logo{
  grid-area: logo;
}
#logo img{
  height: 100%;
  width: 100%;
}
#navigation{
  display: inline;
  grid-area: navigation;
}
#hero {
  grid-area: hero;
  max-height: 100%;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/15518074_5594016.jpg");
  background-size: cover;
  background-position: center;
}
figcaption {
  position: relative;
  top: 70%;
  text-align: right;
  font-size: 22px;
  font-style: italic;
  line-height: 1.5;
  background: #272626;
  color: #ffffff;
  padding-right: 35px;
}
#Project-One {
  grid-area: Project-One;
  background-color: #B3D8FD;
}
#Project-Two {
  grid-area: Project-Two;
  background-color: #5E86AF;
}
#Project-Three {
  grid-area: Project-Three;
  background-color: #6D9FD2;
}
footer {
  grid-area: footer;
  background-color: #000000;
}

@media only screen and (min-width: 768px) {

  body {
      margin: 0;
      display: grid;
      grid-template-columns: auto 27% 27% 27%;
      grid-template-rows: auto 20% 20% 20% 20% auto;
      grid-template-areas:
          "logo navigation navigation navigation"
          "hero hero hero hero"
          "sidebar Project-One  Project-One  Project-One"
          "sidebar Project-One  Project-One  Project-One"
          "sidebar Project-Two   Project-Two   Project-Three"
          "footer footer footer footer";
  }

}