/* Applies to the whole page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Body's background colour */
body {
  background-color: #d9dcd6; 
}

/*The font, background colour and text colour of the header and navigation links*/
header {
  padding-right: 60px;
  background-color: #e9e9e9;
  color: #ffffff;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
}

.header img {
  height: 20%;
  width: 20%;
  padding-top: 25px;
}

/* Navigation links' position, font and size */
.header nav {
  padding-top: 60px;
  padding-left: 60px;
  float: right;
  font-size: 20px;
}

/* Take out navigation's unordered list's markings */
.header nav ul {
  list-style-type: none;
}

/* Display list inline with the header */
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Remove navigation's underlines and colour text*/
a {
  color: #000000;
  text-decoration: none;
}

/* Set font size for paragraphs */
p {
  font-size: 16px;
}


/* Body image's size and position */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/15518074_5594016.jpg");
  background-size: cover;
  background-position: center;
}
figcaption {
  position: relative;
  top: 70%;
  text-align: right;
  font-size: 22px;
  font-style: italic;
  line-height: 1.5;
  background: #272626;
  color: #ffffff;
  padding-right: 35px;
}

.Projects{
  background-color: #000000;
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr 1fr;
  grid-template-columns: 1fr, 1fr, 1fr 1fr;
  grid-template-areas: 
  "Project-One Project-One Project-One Project-One"
  "Project-One Project-One Project-One Project-One"
  "Project-Two Project-Two Project-Three Project-Three";
}

#Project-One {grid-area: Project-One;}
#Project-Two {grid-area: Project-Two;}
#Project-Three {grid-area: Project-Three;}


/* Section's text alignment */
#Project-One h3, #Project-Two h3, #Project-Three h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* Section's text colour and alignment for sidebar */
#Project-One, #Project-Two, #Project-Three {
  margin-bottom: 32px;
  color: #ffffff;
}

.article-images-texts {
  display: flex;
  justify-content: space-between
}

/* Section's image alignment */
#Project-One img, #Project-Two img, #Project-Three img {
  object-fit: cover;
  width: 10%;
  max-height: 10%;
}

#About-Me{
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  }

footer {
  padding-left: 4%;
  padding-right: 75%;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  }

/* Take out navigation's unordered list's markings */
  footer nav ul {
    list-style-type: circle;

  }
  
  /* Display list inline with the footer Contact Me */
  footer nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding-top: 1%;
    
  }

#Contact {
  border-right: 100px;
  border-right: #000000;
}
#Info{
  padding-left: 4%;
  padding-right: 75%;
  display: flex;
}  